body{
    margin: 0px;
}
.bg {
    width:  100vw; /* Ancho igual al ancho total de la ventana del navegador */
    height:  100vh; /* Altura igual a la altura total de la ventana del navegador */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio disponible sin distorsionarse */
    position: fixed; /* Mantiene la imagen en la misma posición incluso cuando se desplaza */
    top:  0; /* Alinea la imagen con el borde superior de la ventana */
    left:  0; /* Alinea la imagen con el borde izquierdo de la ventana */
}
.fixed-div {
    background-color: #fff;
    position: absolute; /* Posiciona el div de manera fija en la página */
    width: 40px;
    height: 40px;
    top:  36.2vh; /* Ubica el div a  43.39vh desde el borde superior de la ventana */
    left:  46.1vw; /* Ubica el div a  61.1vw desde el borde izquierdo de la ventana */
    z-index:  1000; /* Asegura que el div esté por encima de otros elementos */
}

.linterna {
    position: absolute;
    width: 0px;
    height: 0px;
    /* box-shadow: 0 0 0 99999px rgb(0, 0, 0); */
    border-radius: 50%;
}
.pizarra{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    cursor: grab;
}            
